html {
    position: relative;
}

body {
    font-family: "Muli", sans-serif;
    margin-top: 30px;
    margin-bottom: 75px;
}

.navbar {
    z-index: 1;
}

.jumbotron {
    height: 600px;
    background-image: url("../img/jumbotron-bg.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -40px;
    overflow: hidden;
}

.jumbotron h1,
.jumbotron p {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron img {
    margin-top: 70px;
    height: 170px;
    width: 150px;
    border: 3px solid #666666;
}

.jumbotron h1,
.jumbotron p {
    color: aliceblue;
    font-size: 24px;
}

.jumbotron h1 {
    font-size: 54px;
}

hr {
    border-top: 3px solid #999999;
    width: 250px;
}

section {
    min-height: 600px;
}

.kanan,
.kiri {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1s;
}

.kanan {
    transform: translate(50px, 0);
}

.kiri.muncul,
.kanan.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.portofolio {
    background-color: #eeeeee;
}

.portofolio img {
    transition: 1s;
    padding: 15px;
    width: 350px;
}

.portofolio img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.contact {
    min-height: 800px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: grey;
    padding-top: 30px;
}

footer a {
    color: black;
    font-size: large;
}