html {
    position: relative;
}

body {
    font-family: "Karla", sans-serif;
    margin-bottom: 75px;
}


/* Navbar */

.kon {
    position: absolute;
    top: 20px;
    right: 30px;
}

.l1,
.l2,
.l3 {
    width: 40px;
    height: 3px;
    background-color: white;
    margin: 8px 0;
}

.l2 {
    width: 25px;
}

.l3 {
    width: 10px;
}


/* .logonav {
    font-size: 50px;
    cursor: pointer;
} */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.6s;
    padding-top: 60px;
}

.sidenav a {
    text-align: center;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.up {
    opacity: 0;
    transition: 2s;
}

.up.muncul {
    opacity: 1;
}


/* Jumbotron */

.jumbotron {
    height: 700px;
    background-image: url("../img/jumbotron-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -40px;
    overflow: hidden;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

.jumbotron h1 {
    margin-top: 250px;
    font-size: 150px;
}

.jumbotron p {
    font-size: 50px;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content: "";
    display: block;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    margin-left: -16px;
}

.jumbotron h1,
.jumbotron p {
    opacity: 0;
    transition: 1.5s;
    transform: translate(0, -50px);
}

.jumbotron h1,
.jumbotron p {
    transform: translate(0, 50px);
}

.jumbotron h1.muncul,
.jumbotron p.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.jumbotron h1,
.jumbotron p {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1,
.jumbotron p {
    color: aliceblue;
    font-size: 24px;
}

.jumbotron h1 {
    font-size: 54px;
}

.arrow a {
    color: white;
}

.arrow {
    text-align: center;
    margin: 15% 0;
}

.arrow a {
    margin-top: 100px;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


/* About */

hr {
    border-top: 3px solid #999999;
    width: 250px;
}

section {
    min-height: 600px;
}

.about {
    margin-top: -32px;
    background-image: url("../img/about-bg.jpg");
    color: white;
    background-attachment: fixed;
    position: relative;
}

.about .container {
    z-index: 1;
    position: relative;
}

.about::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    bottom: 0;
    position: absolute;
}

.about .kanan,
.about h2,
.about hr {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 2s;
}

.about .kanan,
.about .hrskat {
    transform: translate(100px, 0);
}

.about h2,
.about hr {
    transition: 2s;
    transform: translate(0, 0);
}

.about .div1 {
    opacity: 0;
    transform: translate(-100px, 0);
    transition: 2s;
}

.about h2.muncul,
.about hr.muncul,
.kanan.muncul,
.about .div1.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.about h2 {
    font-size: 40px;
}

.about h1 {
    font-size: 24px;
}

.about hr {
    width: 40%;
    margin-top: -5px;
}

.about .div1 {
    height: 400px;
    width: 400px;
    border: 5px solid rgba(248, 248, 248, 0.5);
}

.about .div1 h1 {
    margin-top: 35px;
    margin-left: 95px;
    color: white;
    font-size: 45px;
}

.about .div1 p {
    font-size: 24px;
    margin-top: -10px;
    margin-left: 130px;
    color: white;
}

.about img {
    margin-top: 50px;
    margin-left: 130px;
    height: 150px;
    width: 125px;
    border-radius: 10000px;
}

.skat {
    font-size: 40px;
    margin-top: -30px;
}

.bio {
    margin-top: 20px;
}

.bio p {
    margin-top: -15px;
}

.bio .tab1 {
    padding-left: 30px;
}

.bio .tab2 {
    padding-left: 51px;
}

.bio .tab3 {
    padding-left: 20px;
}

.bio .tab4 {
    padding-left: 30px;
}

.bio .tab5 {
    padding-left: 12px;
}


/* Portofolio */

.portofolio {
    color: white;
    background-image: url("../img/about-bg.jpg");
    background-attachment: fixed;
}

.portofolio .container {
    height: auto;
}

.portofolio h2 {
    font-size: 50px;
    margin-top: 20px;
}

.portofolio h2,
.portofolio hr {
    opacity: 0;
    transition: 2s;
}

.portofolio h2.muncul,
.portofolio hr.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.portofolio .img-thumbnail {
    opacity: 0;
    transform: translate(0, -70px);
    transition: 0.7s;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.portofolio .img-thumbnail.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.portofolio img {
    transition: 1s;
    padding: 15px;
    width: 350px;
}

.portofolio img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}


/* Contact */

.contact {
    color: white;
    background-image: url("../img/about-bg.jpg");
    background-attachment: fixed;
    min-height: 880px;
    position: relative;
}

.contact .container {
    z-index: 1;
    position: relative;
}

.contact::after {
    content: "";
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    bottom: 0;
    position: absolute;
}


/* Footer */

footer {
    color: white;
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: black;
    padding-top: 30px;
}

footer a {
    color: white;
    font-size: large;
}


/* Desktop Version */

@media (min-width: 992px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 100px;
    }
    .kontener {
        margin-top: 150px;
    }
    .jumbotron .container {
        margin-left: -20px;
    }
    .jumbotron h1 {
        margin-top: 300px;
        font-size: 250px;
    }
    .jumbotron p {
        margin-top: -70px;
        font-size: 50px;
    }
    .jumbotron {
        height: 952px;
    }
    .jumbotron::after {
        margin-left: -35px;
    }
    .arrow {
        margin-left: 700px;
    }
    .about {
        margin-top: -32px;
        height: 970px;
        background-color: #818181;
    }
    .about h2 {
        font-size: 70px;
    }
    .arrow a {
        margin-top: -30px;
    }
    .about h1 {
        margin-top: 130px;
        font-size: 60px;
    }
    .about p {
        font-size: 20px;
    }
    .about .hrskat {
        margin-top: 20px;
        width: 100%;
    }
    .bio .zask {
        margin-top: 20px;
    }
    .bio .tab1 {
        padding-left: 30px;
    }
    .bio .tab2 {
        padding-left: 56px;
    }
    .bio .tab3 {
        padding-left: 18px;
    }
    .bio .tab4 {
        padding-left: 31px;
    }
    .bio .tab5 {
        padding-left: 10px;
    }
    .about .div1 {
        margin-top: 200px;
    }
    .about .div1 h1 {
        margin-top: 18px;
        margin-left: 95px;
        color: white;
    }
    .about .div1 p {
        font-size: 24px;
        margin-top: -10px;
        margin-left: 135px;
        color: white;
    }
    .portofolio {
        height: 970px;
    }
    footer {
        padding-top: 35px;
    }
}